// Заголовки, загальні БЕМ блоки та інше...

.title {
  font-weight: 500;
  @include adaptiveValue('font-size', 30, 20);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  font-weight: 700;
  color: $accentColor;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.btn {
  display: inline-block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  font-weight: 400;
  @include adaptiveValue("font-size", 23, 14);
  line-height: 114%;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
  text-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
  @include adaptiveValue("padding-top", 24, 15);
  @include adaptiveValue("padding-bottom", 24, 15);
  @include adaptiveValue("padding-left", 15, 10);
  @include adaptiveValue("padding-right", 15, 10);
  transition: all 0.5s ease 0s;
  &:hover {
    background: linear-gradient(0deg, #1d728c 0%, #2485a0 100%);
  }
}
.element-animation {
    opacity: 0;
    transition: opacity .5s ease 0s;
    &.element-show {
        opacity: 1;
    }
}

// .element-animation:nth-of-type(2).element-show {
//     transition-delay: .2s;
// }
